@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("./fonts/calsans-var-full/CalSans-VariableFont.woff2") format("woff2"),
    url("./fonts/calsans-var-full/CalSans-VariableFont.ttf") format("truetype");
}
