@font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("./fonts/calsans-var-full/CalSansVF.woff2") format("woff2"),
    url("./fonts/calsans-var-full/CalSansVF.ttf") format("truetype");
}

@font-face {
  font-family: "Cal Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400 700;
  src: url("./fonts/calsans-gf-api/CalSans-Italic[opsz,GEOM,wght,YTAS,SHRP].woff2") format("woff2"),
    url("./fonts/calsans-gf-api/CalSans-Italic[opsz,GEOM,wght,YTAS,SHRP].ttf") format("truetype");
}
