(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEmacron,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
Fhook,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
I.rcltA11y,
IJ.rcltA11y,
Iacute.rcltA11y,
Icircumflex.rcltA11y,
Idieresis.rcltA11y,
Idotaccent.rcltA11y,
Idotbelow.rcltA11y,
Igrave.rcltA11y,
Ihookabove.rcltA11y,
Iinvertedbreve.rcltA11y,
Imacron.rcltA11y,
Iogonek.rcltA11y,
Itilde.rcltA11y,
C.rcltGeo,
Cacute.rcltGeo,
Ccaron.rcltGeo,
Ccedilla.rcltGeo,
Ccircumflex.rcltGeo,
Cdotaccent.rcltGeo,
G.rcltGeo,
Gbreve.rcltGeo,
Gcircumflex.rcltGeo,
Gcommaaccent.rcltGeo,
Gdotaccent.rcltGeo,
Gmacron.rcltGeo,
M.rcltGeo,
Mdotaccent.rcltGeo,
Mdotbelow.rcltGeo,
Eng.rcltGeo,
G.ss06,
Gbreve.ss06,
Gcircumflex.ss06,
Gcommaaccent.ss06,
Gdotaccent.ss06,
Gmacron.ss06,
G.ss07,
Gbreve.ss07,
Gcircumflex.ss07,
Gcommaaccent.ss07,
Gdotaccent.ss07,
Gmacron.ss07,
C.ss10,
Cacute.ss10,
Ccaron.ss10,
Ccedilla.ss10,
Ccircumflex.ss10,
Cdotaccent.ss10,
Eng.ss10,
M.ss12,
Mdotaccent.ss12,
Mdotbelow.ss12,
M.ss13,
Mdotaccent.ss13,
Mdotbelow.ss13,
I.ss18,
IJ.ss18,
Iacute.ss18,
Icircumflex.ss18,
Idieresis.ss18,
Idotaccent.ss18,
Idotbelow.ss18,
Igrave.ss18,
Ihookabove.ss18,
Iinvertedbreve.ss18,
Imacron.ss18,
Iogonek.ss18,
Itilde.ss18,
Z.ss20,
Zacute.ss20,
Zcaron.ss20,
Zdotaccent.ss20,
Zdotbelow.ss20,
Zmacronbelow.ss20,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
atilde,
ae,
aemacron,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
eth,
e,
eacute,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
kmacronbelow,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
lslash,
m,
mdotaccent,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nmacronbelow,
ntilde,
eng,
o,
oacute,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
a.alt,
aacute.alt,
abreve.alt,
abreveacute.alt,
abrevedotbelow.alt,
abrevegrave.alt,
abrevehookabove.alt,
abrevetilde.alt,
acircumflex.alt,
acircumflexacute.alt,
acircumflexdotbelow.alt,
acircumflexgrave.alt,
acircumflexhookabove.alt,
acircumflextilde.alt,
adieresis.alt,
adotbelow.alt,
agrave.alt,
ahookabove.alt,
ainvertedbreve.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
f.alt,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.rcltA11y,
aacute.rcltA11y,
abreve.rcltA11y,
abreveacute.rcltA11y,
abrevedotbelow.rcltA11y,
abrevegrave.rcltA11y,
abrevehookabove.rcltA11y,
abrevetilde.rcltA11y,
acircumflex.rcltA11y,
acircumflexacute.rcltA11y,
acircumflexdotbelow.rcltA11y,
acircumflexgrave.rcltA11y,
acircumflexhookabove.rcltA11y,
acircumflextilde.rcltA11y,
adieresis.rcltA11y,
adotbelow.rcltA11y,
agrave.rcltA11y,
ahookabove.rcltA11y,
ainvertedbreve.rcltA11y,
amacron.rcltA11y,
aogonek.rcltA11y,
aring.rcltA11y,
atilde.rcltA11y,
g.rcltA11y,
gbreve.rcltA11y,
gcircumflex.rcltA11y,
gcommaaccent.rcltA11y,
gdotaccent.rcltA11y,
gmacron.rcltA11y,
l.rcltA11y,
lacute.rcltA11y,
lcaron.rcltA11y,
lcommaaccent.rcltA11y,
ldot.rcltA11y,
ldotbelow.rcltA11y,
ldotbelowmacron.rcltA11y,
lmacronbelow.rcltA11y,
lslash.rcltA11y,
a.rcltBase,
aacute.rcltBase,
abreve.rcltBase,
abreveacute.rcltBase,
abrevedotbelow.rcltBase,
abrevegrave.rcltBase,
abrevehookabove.rcltBase,
abrevetilde.rcltBase,
acircumflex.rcltBase,
acircumflexacute.rcltBase,
acircumflexdotbelow.rcltBase,
acircumflexgrave.rcltBase,
acircumflexhookabove.rcltBase,
acircumflextilde.rcltBase,
adieresis.rcltBase,
adotbelow.rcltBase,
agrave.rcltBase,
ahookabove.rcltBase,
ainvertedbreve.rcltBase,
amacron.rcltBase,
aogonek.rcltBase,
aring.rcltBase,
atilde.rcltBase,
ae.rcltBase,
aemacron.rcltBase,
f.rcltBase,
ij.rcltBase,
j.rcltBase,
jdotless.rcltBase,
jacute.rcltBase,
jcircumflex.rcltBase,
t.rcltBase,
tbar.rcltBase,
tcaron.rcltBase,
tcedilla.rcltBase,
tcommaaccent.rcltBase,
tdotbelow.rcltBase,
tmacronbelow.rcltBase,
y.rcltBase,
yacute.rcltBase,
ycircumflex.rcltBase,
ydieresis.rcltBase,
ydotaccent.rcltBase,
ydotbelow.rcltBase,
ygrave.rcltBase,
yhookabove.rcltBase,
ytilde.rcltBase,
c.rcltGeo,
cacute.rcltGeo,
ccaron.rcltGeo,
ccedilla.rcltGeo,
ccircumflex.rcltGeo,
cdotaccent.rcltGeo,
ij.rcltGeo,
j.rcltGeo,
jdotless.rcltGeo,
jacute.rcltGeo,
jcircumflex.rcltGeo,
eng.rcltGeo,
t.rcltGeo,
tbar.rcltGeo,
tcaron.rcltGeo,
tcedilla.rcltGeo,
tcommaaccent.rcltGeo,
tdotbelow.rcltGeo,
tmacronbelow.rcltGeo,
u.rcltGeo,
uacute.rcltGeo,
ubreve.rcltGeo,
ucircumflex.rcltGeo,
udieresis.rcltGeo,
udieresisacute.rcltGeo,
udieresiscaron.rcltGeo,
udieresisgrave.rcltGeo,
udieresismacron.rcltGeo,
udotbelow.rcltGeo,
ugrave.rcltGeo,
uhookabove.rcltGeo,
uhorn.rcltGeo,
uhornacute.rcltGeo,
uhorndotbelow.rcltGeo,
uhorngrave.rcltGeo,
uhornhookabove.rcltGeo,
uhorntilde.rcltGeo,
uhungarumlaut.rcltGeo,
uinvertedbreve.rcltGeo,
umacron.rcltGeo,
uogonek.rcltGeo,
uring.rcltGeo,
utilde.rcltGeo,
y.rcltGeo,
yacute.rcltGeo,
ycircumflex.rcltGeo,
ydieresis.rcltGeo,
ydotaccent.rcltGeo,
ydotbelow.rcltGeo,
ygrave.rcltGeo,
yhookabove.rcltGeo,
ytilde.rcltGeo,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
ainvertedbreve.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
ae.ss01,
aemacron.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
abreveacute.ss02,
abrevedotbelow.ss02,
abrevegrave.ss02,
abrevehookabove.ss02,
abrevetilde.ss02,
acircumflex.ss02,
acircumflexacute.ss02,
acircumflexdotbelow.ss02,
acircumflexgrave.ss02,
acircumflexhookabove.ss02,
acircumflextilde.ss02,
adieresis.ss02,
adotbelow.ss02,
agrave.ss02,
ahookabove.ss02,
ainvertedbreve.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
ae.ss02,
aemacron.ss02,
a.ss03,
aacute.ss03,
abreve.ss03,
abreveacute.ss03,
abrevedotbelow.ss03,
abrevegrave.ss03,
abrevehookabove.ss03,
abrevetilde.ss03,
acircumflex.ss03,
acircumflexacute.ss03,
acircumflexdotbelow.ss03,
acircumflexgrave.ss03,
acircumflexhookabove.ss03,
acircumflextilde.ss03,
adieresis.ss03,
adotbelow.ss03,
agrave.ss03,
ahookabove.ss03,
ainvertedbreve.ss03,
amacron.ss03,
aogonek.ss03,
aring.ss03,
atilde.ss03,
ae.ss03,
aemacron.ss03,
g.ss04,
gbreve.ss04,
gcircumflex.ss04,
gcommaaccent.ss04,
gdotaccent.ss04,
gmacron.ss04,
g.ss05,
gbreve.ss05,
gcircumflex.ss05,
gcommaaccent.ss05,
gdotaccent.ss05,
gmacron.ss05,
ij.ss08,
j.ss08,
jdotless.ss08,
jacute.ss08,
jcircumflex.ss08,
y.ss08,
yacute.ss08,
ycircumflex.ss08,
ydieresis.ss08,
ydotaccent.ss08,
ydotbelow.ss08,
ygrave.ss08,
yhookabove.ss08,
ytilde.ss08,
ij.ss09,
j.ss09,
jdotless.ss09,
jacute.ss09,
jcircumflex.ss09,
y.ss09,
yacute.ss09,
ycircumflex.ss09,
ydieresis.ss09,
ydotaccent.ss09,
ydotbelow.ss09,
ygrave.ss09,
yhookabove.ss09,
ytilde.ss09,
c.ss10,
cacute.ss10,
ccaron.ss10,
ccedilla.ss10,
ccircumflex.ss10,
cdotaccent.ss10,
ij.ss10,
j.ss10,
jdotless.ss10,
jacute.ss10,
jcircumflex.ss10,
eng.ss10,
t.ss10,
tbar.ss10,
tcaron.ss10,
tcedilla.ss10,
tcommaaccent.ss10,
tdotbelow.ss10,
tmacronbelow.ss10,
u.ss10,
uacute.ss10,
ubreve.ss10,
ucircumflex.ss10,
udieresis.ss10,
udieresisacute.ss10,
udieresiscaron.ss10,
udieresisgrave.ss10,
udieresismacron.ss10,
udotbelow.ss10,
ugrave.ss10,
uhookabove.ss10,
uhorn.ss10,
uhornacute.ss10,
uhorndotbelow.ss10,
uhorngrave.ss10,
uhornhookabove.ss10,
uhorntilde.ss10,
uhungarumlaut.ss10,
uinvertedbreve.ss10,
umacron.ss10,
uogonek.ss10,
uring.ss10,
utilde.ss10,
y.ss10,
yacute.ss10,
ycircumflex.ss10,
ydieresis.ss10,
ydotaccent.ss10,
ydotbelow.ss10,
ygrave.ss10,
yhookabove.ss10,
ytilde.ss10,
f.ss14,
t.ss14,
tbar.ss14,
tcaron.ss14,
tcedilla.ss14,
tcommaaccent.ss14,
tdotbelow.ss14,
tmacronbelow.ss14,
f.ss15,
t.ss15,
tbar.ss15,
tcaron.ss15,
tcedilla.ss15,
tcommaaccent.ss15,
tdotbelow.ss15,
tmacronbelow.ss15,
a.ss18,
aacute.ss18,
abreve.ss18,
abreveacute.ss18,
abrevedotbelow.ss18,
abrevegrave.ss18,
abrevehookabove.ss18,
abrevetilde.ss18,
acircumflex.ss18,
acircumflexacute.ss18,
acircumflexdotbelow.ss18,
acircumflexgrave.ss18,
acircumflexhookabove.ss18,
acircumflextilde.ss18,
adieresis.ss18,
adotbelow.ss18,
agrave.ss18,
ahookabove.ss18,
ainvertedbreve.ss18,
amacron.ss18,
aogonek.ss18,
aring.ss18,
atilde.ss18,
l.ss18,
lacute.ss18,
lcaron.ss18,
lcommaaccent.ss18,
ldot.ss18,
ldotbelow.ss18,
ldotbelowmacron.ss18,
lmacronbelow.ss18,
lslash.ss18,
l.ss19,
lacute.ss19,
lcaron.ss19,
lcommaaccent.ss19,
ldot.ss19,
ldotbelow.ss19,
ldotbelowmacron.ss19,
lmacronbelow.ss19,
lslash.ss19,
z.ss20,
zacute.ss20,
zcaron.ss20,
zdotaccent.ss20,
zdotbelow.ss20,
zmacronbelow.ss20,
lcommaaccent.loclMAH.rcltA11y,
lcommaaccent.loclMAH.ss18,
lcommaaccent.loclMAH.ss19,
a.rcltBaseSmall,
f_f_i,
f_f_l,
f_t,
fi,
fl,
f_f_i.rcltBase,
f_f_l.rcltBase,
f_t.rcltBase,
fi.rcltBase,
fl.rcltBase,
f_t.rcltGeo,
f_t.ss10,
f_f_i.ss11,
f_f_l.ss11,
f_t.ss11,
fi.ss11,
fl.ss11,
f_f_i.ss14,
f_f_l.ss14,
f_t.ss14,
fi.ss14,
fl.ss14,
f_f_i.ss15,
f_f_l.ss15,
f_t.ss15,
fi.ss15,
fl.ss15,
ordfeminine,
ordmasculine,
ordfeminine.rcltBase,
ordfeminine.ss01,
ordfeminine.ss02,
ordfeminine.ss03,
Lambda,
Xi,
Omega,
Xi.tf,
lambda,
xi,
pi,
lambda.rcltBase,
lambda.rcltGeo,
pi.rcltGeo,
pi.ss10,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.disp,
one.disp,
six.disp,
seven.disp,
nine.disp,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
six.rclt1,
nine.rclt1,
six.rclt2,
nine.rclt2,
six.rclt3,
nine.rclt3,
zero.rcltGeo,
one.rcltGeo,
five.rcltGeo,
zero.ss10,
one.ss10,
five.ss10,
six.ss16,
nine.ss16,
six.ss17,
nine.ss17,
one.ss20,
two.ss20,
four.ss20,
five.ss20,
seven.ss20,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.zero.disp,
two.disp.ss20,
seven.disp.ss20,
six.lf.rclt1,
nine.lf.rclt1,
zero.lf.rcltGeo,
one.lf.rcltGeo,
five.lf.rcltGeo,
zero.lf.ss10,
one.lf.ss10,
five.lf.ss10,
six.lf.ss16,
nine.lf.ss16,
six.lf.ss17,
nine.lf.ss17,
one.lf.ss20,
two.lf.ss20,
four.lf.ss20,
five.lf.ss20,
seven.lf.ss20,
zero.zero.rcltGeo,
five.rcltGeo.ss20,
zero.rvrnGeo.dnom,
one.rvrnGeo.dnom,
zero.rvrnGeo.numr,
one.rvrnGeo.numr,
zero.ss10.dnom,
one.ss10.dnom,
five.ss10.ss20,
six.tf.rclt1,
nine.tf.rclt1,
zero.tf.rcltGeo,
one.tf.rcltGeo,
five.tf.rcltGeo,
zero.tf.ss10,
one.tf.ss10,
five.tf.ss10,
six.tf.ss16,
nine.tf.ss16,
six.tf.ss17,
nine.tf.ss17,
one.tf.ss20,
two.tf.ss20,
four.tf.ss20,
five.tf.ss20,
seven.tf.ss20,
five.tf.001,
five.lf.rcltGeo.ss20,
five.lf.ss10.ss20,
five.tf.rcltGeo.ss20,
five.tf.ss10.ss20,
two.disp,
three.disp,
four.disp,
six.2,
one.disp.ss20,
four.disp.ss20,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
six.dnom.rclt1,
nine.dnom.rclt1,
six.numr.rclt1,
nine.numr.rclt1,
six.dnom.rclt2,
nine.dnom.rclt2,
six.numr.rclt2,
nine.numr.rclt2,
six.dnom.rclt3,
nine.dnom.rclt3,
six.numr.rclt3,
nine.numr.rclt3,
zero.dnom.rcltGeo,
one.dnom.rcltGeo,
five.dnom.rcltGeo,
zero.numr.rcltGeo,
one.numr.rcltGeo,
five.numr.rcltGeo,
onehalf.rcltGeo,
onethird.rcltGeo,
twothirds.rcltGeo,
onequarter.rcltGeo,
oneeighth.rcltGeo,
fiveeighths.rcltGeo,
zero.dnom.ss10,
one.dnom.ss10,
five.dnom.ss10,
zero.numr.ss10,
one.numr.ss10,
five.numr.ss10,
onehalf.ss10,
onethird.ss10,
twothirds.ss10,
onequarter.ss10,
oneeighth.ss10,
fiveeighths.ss10,
six.dnom.ss16,
nine.dnom.ss16,
six.numr.ss16,
nine.numr.ss16,
six.dnom.ss17,
nine.dnom.ss17,
six.numr.ss17,
nine.numr.ss17,
one.dnom.ss20,
two.dnom.ss20,
four.dnom.ss20,
seven.dnom.ss20,
one.numr.ss20,
two.numr.ss20,
four.numr.ss20,
seven.numr.ss20,
onehalf.ss20,
onethird.ss20,
twothirds.ss20,
onequarter.ss20,
oneeighth.ss20,
five.dnom.rcltGeo.ss20,
five.numr.rcltGeo.ss20,
fiveeighths.rcltGeo.ss20,
five.dnom.ss10.ss20,
five.numr.ss10.ss20,
onehalf.ss10.ss20,
onethird.ss10.ss20,
twothirds.ss10.ss20,
onequarter.ss10.ss20,
oneeighth.ss10.ss20,
fiveeighths.ss10.ss20,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
sixinferior.rclt1,
nineinferior.rclt1,
sixsuperior.rclt1,
ninesuperior.rclt1,
sixinferior.rclt2,
nineinferior.rclt2,
sixsuperior.rclt2,
ninesuperior.rclt2,
sixinferior.rclt3,
nineinferior.rclt3,
sixsuperior.rclt3,
ninesuperior.rclt3,
zeroinferior.rcltGeo,
oneinferior.rcltGeo,
fiveinferior.rcltGeo,
zerosuperior.rcltGeo,
onesuperior.rcltGeo,
fivesuperior.rcltGeo,
zeroinferior.ss10,
oneinferior.ss10,
fiveinferior.ss10,
zerosuperior.ss10,
onesuperior.ss10,
fivesuperior.ss10,
sixinferior.ss16,
nineinferior.ss16,
sixsuperior.ss16,
ninesuperior.ss16,
sixinferior.ss17,
nineinferior.ss17,
sixsuperior.ss17,
ninesuperior.ss17,
oneinferior.ss20,
twoinferior.ss20,
fourinferior.ss20,
seveninferior.ss20,
onesuperior.ss20,
twosuperior.ss20,
foursuperior.ss20,
sevensuperior.ss20,
fivesuperior.rcltGeo.ss20,
fiveinferior.ss10.ss20,
fivesuperior.ss10.ss20,
space,
nbspace,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
.notdef,
CR,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
exclamdouble,
interrobang,
invertedinterrobang,
numbersign,
slash,
backslash,
colon.calt,
periodcentered.case,
periodcentered.loclCAT,
numbersign.tf,
periodcentered.loclCAT.case,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
florin.tf,
"note-musical",
"notedbl-musical",
baht,
baht.tf,
at_spam_trap,
APLcirclestar,
blackStar,
whiteStar,
ballotBoxWithCheck,
ballotBoxWithX,
heartWhiteSuit,
heartBlackSuit,
checkmark,
heavyCheckMark,
ballotX,
heavyBallotX,
blackFourPointedStar,
whiteFourPointedStar,
sparkles,
heavyBlackHeart,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
blackSmallStar,
whiteSmallStar,
D.circled,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
guarani,
hryvnia,
kip,
lari,
liraTurkish,
manat,
naira,
peso,
riyalSaudi,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
euro.rcltGeo,
guarani.rcltGeo,
guarani.ss06,
guarani.ss07,
euro.ss10,
bitcoin.tf,
cedi.tf,
cent.tf,
colonsign.tf,
currency.tf,
dollar.tf,
dong.tf,
euro.tf,
guarani.tf,
hryvnia.tf,
kip.tf,
lari.tf,
liraTurkish.tf,
naira.tf,
peso.tf,
riyalSaudi.tf,
ruble.tf,
rupee.tf,
rupeeIndian.tf,
sheqel.tf,
sterling.tf,
tenge.tf,
tugrik.tf,
won.tf,
yen.tf,
euro.tf.rcltGeo,
guarani.tf.rcltGeo,
guarani.tf.ss06,
guarani.tf.ss07,
euro.tf.ss10,
because,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
therefore,
micro.rcltGeo,
micro.ss10,
percent.tf,
perthousand.tf,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackCircle,
whiteCircle,
dottedCircle,
whiteBullet,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
slashlongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
breveinvertedcomb.case,
horncomb.case,
slashlongcomb.case,
strokeshortcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
primemod,
verticallinemod,
_part.stroke,
_part.strokeshort,
IJacute,
Mcommaaccent,
Nmacron,
Ocommaaccent,
ijacute,
mcommaaccent,
nmacron,
ocommaaccent,
IJacute.rcltA11y,
IJacute.ss18,
Mcommaaccent.loclMAH,
Mcommaaccent.rcltGeo,
Mcommaaccent.ss12,
Mcommaaccent.ss13,
Ocommaaccent.loclMAH,
ijacute.rcltBase,
ijacute.rcltGeo,
ijacute.ss08,
ijacute.ss09,
ijacute.ss10,
mcommaaccent.loclMAH,
ocommaaccent.loclMAH,
tpartcrltGeo.comb,
Mcommaaccent.loclMAH.rcltGeo,
Mcommaaccent.loclMAH.ss12,
Mcommaaccent.loclMAH.ss13,
_zeroslashcomb,
ast,
hookabovecombviet,
tittle,
verticalBottomCurrencycomb,
verticalTopCurrencycomb,
fpart.comb,
fpartrcltBase.comb,
hookabovecombviet.case,
horn.alt,
horn.alt_case,
onebottom.part,
partstroke.comb,
tpart.comb,
tpartrcltBase.comb,
zerodot.comb
)